assets/images/866-400x400.jpg
assets/images/joinUs.png
assets/images/mobile-image-mid.png
assets/images/mobile-image-small.png
assets/images/mobile-image.png
assets/images/mobile-image3.png
assets/images/animoji/.DS_Store
assets/images/animoji/mem1.png
assets/images/animoji/mem2.png
assets/images/animoji/mem4.png
assets/images/animoji/mem5.png
assets/images/animoji/mem6.png
assets/images/animoji/mem8.png
assets/images/animoji/mem7.png
assets/images/animoji/mem9.png
assets/images/animoji/mem10.png
assets/images/animoji/mem11.png
assets/images/animoji/mem12.png
assets/images/animoji/mem13.png
assets/images/animoji/mem14.png
assets/images/animoji/mem16.png
assets/images/animoji/mem15.png
assets/images/animoji/mem17.png
assets/images/animoji/mem18.png
assets/images/animoji/mem19.png
assets/images/animoji/mem20.png
assets/images/animoji/mem21.png
assets/images/animoji/mem22.png
assets/images/animoji/mem24.png
assets/images/animoji/mem25.png
assets/images/animoji/mem23.png
assets/images/animoji/mem26.png
assets/images/big-dream/Icons-Services Description.png
assets/images/feature/Airplane.svg
assets/images/feature/ChatApp.svg
assets/images/feature/FitnessApp.svg
assets/images/feature/DatingApp.svg
assets/images/feature/FoodDelivery.svg
assets/images/feature/JobFinding.svg
assets/images/feature/OnlineGrocery.svg
assets/images/feature/OnlineLearning.svg
assets/images/feature/OnlineShop.svg
assets/images/feature/RealState.svg
assets/images/feature/SocialMedia.svg
assets/images/feature/VOD.svg
assets/images/feature/TravelApp.svg
assets/images/feature/Spa.svg
assets/images/feature/Salon.svg
assets/images/feature/RideSharing.svg
assets/images/feature/Portfolio.svg
assets/images/fonts/PTSans.ttc
assets/images/Icons/.DS_Store
assets/images/Icons/hamburger.svg
assets/images/Icons/Services Description.png
assets/images/Icons/Services Description.svg
assets/images/Icons/Programing Languages/Android.png
assets/images/Icons/Programing Languages/Android.svg
assets/images/Icons/Programing Languages/Angular.svg
assets/images/Icons/Programing Languages/CSS3.png
assets/images/Icons/Programing Languages/Angular.png
assets/images/Icons/Programing Languages/CSS3.svg
assets/images/Icons/Programing Languages/iOS.png
assets/images/Icons/Programing Languages/HTML5.png
assets/images/Icons/Programing Languages/HTML5.svg
assets/images/Icons/Programing Languages/iOS.svg
assets/images/Icons/Programing Languages/Java.png
assets/images/Icons/Programing Languages/Java.svg
assets/images/Icons/Programing Languages/JS.png
assets/images/Icons/Programing Languages/JS.svg
assets/images/Icons/Programing Languages/Laravel.png
assets/images/Icons/Programing Languages/Laravel.svg
assets/images/Icons/Programing Languages/MongoDB.png
assets/images/Icons/Programing Languages/MongoDB.svg
assets/images/Icons/Programing Languages/netCore.png
assets/images/Icons/Programing Languages/netCore.svg
assets/images/Icons/Programing Languages/nodeJS.png
assets/images/Icons/Programing Languages/nodeJS.svg
assets/images/Icons/Programing Languages/Php.png
assets/images/Icons/Programing Languages/Php.svg
assets/images/Icons/Programing Languages/Python.png
assets/images/Icons/Programing Languages/Python.svg
assets/images/Icons/Programing Languages/Reactjs.png
assets/images/Icons/Programing Languages/Reactjs.svg
assets/images/Icons/Programing Languages/Sass.png
assets/images/Icons/Programing Languages/Sass.svg
assets/images/Icons/Programing Languages/VueJS.png
assets/images/Icons/Programing Languages/VueJS.svg
assets/images/Icons/Programing Languages/Wordpress.png
assets/images/Icons/Programing Languages/Wordpress.svg
assets/images/Icons/Services/Branding-white.png
assets/images/Icons/Services/Branding.png
assets/images/Icons/Services/Branding-white.svg
assets/images/Icons/Services/Branding.svg
assets/images/Icons/Services/Consultant-white.png
assets/images/Icons/Services/Consultant-white.svg
assets/images/Icons/Services/Consultant.png
assets/images/Icons/Services/Consultant.svg
assets/images/Icons/Services/IoT-white.png
assets/images/Icons/Services/IoT-white.svg
assets/images/Icons/Services/IoT.png
assets/images/Icons/Services/IoT.svg
assets/images/Icons/Services/Mobile dev-white.png
assets/images/Icons/Services/Mobile dev-white.svg
assets/images/Icons/Services/Mobile dev.png
assets/images/Icons/Services/Mobile dev.svg
assets/images/Icons/Services/Seo-white.png
assets/images/Icons/Services/Seo-white.svg
assets/images/Icons/Services/Seo.png
assets/images/Icons/Services/Seo.svg
assets/images/Icons/Services/Social Media-white.png
assets/images/Icons/Services/Social Media-white.svg
assets/images/Icons/Services/Social Media.png
assets/images/Icons/Services/Social Media.svg
assets/images/Icons/Services/UiUx-white.png
assets/images/Icons/Services/UiUx-white.svg
assets/images/Icons/Services/UiUx.svg
assets/images/Icons/Services/UiUx.png
assets/images/Icons/Services/Web dev-white.png
assets/images/Icons/Services/Web dev-white.svg
assets/images/Icons/Services/Web dev.png
assets/images/Icons/Services/Web dev.svg
assets/images/Icons/Solutions/Airplane-white.png
assets/images/Icons/Solutions/Airplane.svg
assets/images/Icons/Solutions/Airplane.png
assets/images/Icons/Solutions/Chat App-white.png
assets/images/Icons/Solutions/Chat App.png
assets/images/Icons/Solutions/Chat App.svg
assets/images/Icons/Solutions/Dating App-white.png
assets/images/Icons/Solutions/Dating App.png
assets/images/Icons/Solutions/Dating App.svg
assets/images/Icons/Solutions/Fitness App-white.png
assets/images/Icons/Solutions/Fitness App.png
assets/images/Icons/Solutions/Fitness App.svg
assets/images/Icons/Solutions/Food Delivery-white.png
assets/images/Icons/Solutions/Food Delivery.png
assets/images/Icons/Solutions/Food Delivery.svg
assets/images/Icons/Solutions/Job Finding-white.png
assets/images/Icons/Solutions/Job Finding.png
assets/images/Icons/Solutions/Job Finding.svg
assets/images/Icons/Solutions/Online Grocery-white.png
assets/images/Icons/Solutions/Online Grocery.png
assets/images/Icons/Solutions/Online Learning-white.png
assets/images/Icons/Solutions/Online Learning.png
assets/images/Icons/Solutions/Online Learning.svg
assets/images/Icons/Solutions/Online Grocery.svg
assets/images/Icons/Solutions/Online Shop-white.png
assets/images/Icons/Solutions/Online Shop.png
assets/images/Icons/Solutions/Online Shop.svg
assets/images/Icons/Solutions/Portfolio-white.png
assets/images/Icons/Solutions/Portfolio.png
assets/images/Icons/Solutions/Portfolio.svg
assets/images/Icons/Solutions/Real State-white.png
assets/images/Icons/Solutions/Real State.png
assets/images/Icons/Solutions/Real State.svg
assets/images/Icons/Solutions/Ride Sharing-white.png
assets/images/Icons/Solutions/Ride Sharing.png
assets/images/Icons/Solutions/Ride Sharing.svg
assets/images/Icons/Solutions/Salon-white.png
assets/images/Icons/Solutions/Salon.svg
assets/images/Icons/Solutions/Salon.png
assets/images/Icons/Solutions/Social Media.png
assets/images/Icons/Solutions/Social Media-white.png
assets/images/Icons/Solutions/Spa-white.png
assets/images/Icons/Solutions/Social Media.svg
assets/images/Icons/Solutions/Spa.png
assets/images/Icons/Solutions/Spa.svg
assets/images/Icons/Solutions/Travel App-white.png
assets/images/Icons/Solutions/Travel App.png
assets/images/Icons/Solutions/VOD-white.png
assets/images/Icons/Solutions/Travel App.svg
assets/images/Icons/Solutions/VOD.png
assets/images/Icons/Solutions/VOD.svg
assets/images/iphone 11 pro/front.png
assets/images/learning/learningSample.png
assets/images/learning/learningSample2.png
assets/images/originals/.DS_Store
assets/images/joinUs.png
assets/images/mobile-image-mid.png
assets/images/mobile-image-small.png
assets/images/mobile-image.png
assets/images/mobile-image3.png
assets/images/big-dream/Icons-Services Description.png
assets/images/feature/Airplane.svg
assets/images/feature/ChatApp.svg
assets/images/feature/DatingApp.svg
assets/images/feature/FitnessApp.svg
assets/images/feature/JobFinding.svg
assets/images/feature/FoodDelivery.svg
assets/images/feature/OnlineGrocery.svg
assets/images/feature/OnlineLearning.svg
assets/images/feature/OnlineShop.svg
assets/images/feature/Portfolio.svg
assets/images/feature/RealState.svg
assets/images/feature/RideSharing.svg
assets/images/feature/Salon.svg
assets/images/feature/SocialMedia.svg
assets/images/feature/Spa.svg
assets/images/feature/TravelApp.svg
assets/images/feature/VOD.svg
assets/images/learning/learningSample.png
assets/images/learning/learningSample2.png
assets/images/programing-languages/android.svg
assets/images/programing-languages/Angular.svg
assets/images/programing-languages/css3.svg
assets/images/programing-languages/HTML5.svg
assets/images/programing-languages/Java.svg
assets/images/programing-languages/iOS.svg
assets/images/programing-languages/JS.svg
assets/images/programing-languages/Laravel.svg
assets/images/programing-languages/mongodb.svg
assets/images/programing-languages/netCore.svg
assets/images/programing-languages/Php.svg
assets/images/programing-languages/nodeJS.svg
assets/images/programing-languages/Python.svg
assets/images/programing-languages/Reactjs.svg
assets/images/programing-languages/Sass.svg
assets/images/programing-languages/VueJS.svg
assets/images/programing-languages/Wordpress.svg
assets/images/services/Branding-white.svg
assets/images/services/Branding.svg
assets/images/services/Consultant-white.svg
assets/images/services/Consultant.svg
assets/images/services/IoT-white.svg
assets/images/services/IoT.svg
assets/images/services/Mobiledev-white.svg
assets/images/services/Mobiledev.svg
assets/images/services/Seo-white.svg
assets/images/services/Seo.svg
assets/images/services/SocialMedia-white.svg
assets/images/services/SocialMedia.svg
assets/images/services/UiUx-white.svg
assets/images/services/UiUx.svg
assets/images/services/Webdev.svg
assets/images/solution/001-suitcase.svg
assets/images/services/Webdev-white.svg
assets/images/solution/002-smartphone.svg
assets/images/solution/003-delivery.svg
assets/images/solution/004-shop.svg
assets/images/solution/005-shopping-cart.svg
assets/images/solution/006-node.svg
assets/images/solution/007-elearning.svg
assets/images/solution/008-presentation.svg
assets/images/solution/009-chat.svg
assets/images/solution/010-gym.svg
assets/images/solution/011-mirror.svg
assets/images/solution/012-stones.svg
assets/images/solution/013-take-off.svg
assets/images/solution/014-sold.svg
assets/images/solution/015-baggage.svg
assets/images/solution/016-suitcase-1.svg
assets/images/solution/017-resume.svg
assets/images/solution/018-taxi.svg
assets/images/teamMates/memoji2.png
assets/images/teamMates/memoji.png
assets/images/top-slider/slide1.jpg
assets/images/top-slider/slide2.jpg
assets/images/top-slider/slide3.jpg
assets/images/top-slider/slide4.jpg
