.projects {
  .projects-section {
    // .projects-section-header {
    // }
    .container {
      .projects-container {
        img {
          max-width: 100%;
          vertical-align: middle;
          border-radius: 10px;
        }

        /* Masonry grid */
        .masonry {
          transition: all 0.5s ease-in-out;
          column-gap: 10px;
          column-fill: initial;
        }

        /* Masonry item */
        .masonry .brick {
          margin-bottom: 10px;
          display: inline-block; /* Fix the misalignment of items */
          vertical-align: top; /* Keep the item on the very top */
        }

        /* Masonry image effects */
        .masonry .brick img {
          transition: all 0.5s ease-in-out;
          backface-visibility: hidden; /* Remove Image flickering on hover */
        }

        .masonry .brick:hover img {
          opacity: 0.75;
        }

        /* Masonry on tablets */
        @media only screen and (min-width: 800px) {
          .masonry {
            column-count: 3;
          }
        }

        @media only screen and (max-width: 800px) {
          .masonry {
            column-count: 2;
          }
        }
      }
    }
  }
}
